body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}
.navrow {
  background-color: #2e2c2c !important;
}
.navbar{
  background-color: #2e2c2c !important;
  width: 100%;
 
}
.navbar-brand{
  font-size: 1.9em !important ;
  color: #a80b0b !important;
  transition: 0.3s;
}
.navbar-brand:hover{
  color : #ffffff !important;
  background-color: #ffffff;
}
.navbar a{
  font-size: 1.3em;
  text-transform: capitalize;
}
.navbar a:hover{
  color : #a80b0b !important;
}
.menu_active{
  font-weight: bold;
  color : #a80b0b !important;
  border-bottom:1px solid #ffffff;
}

#header{
  width: 100%;

  margin-top: 10px;
}
#header h1{
  margin :0 0 0 0;
  font-weight: 700;
  color : #a80b0b ;
  font-size: 48px;
  text-align: center;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color:#484848;
  font-size: 24px;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 50px ;
  border: 2px solid #3498db;
  display: inline-block;
  color: #3498db;
  transition: 0.5s;
  text-decoration: none;
}
.card-body{
  background-color:#2e2c2c ;
  color: #ffffff;
  transition: 0.5s;
}
.card-body:hover{
  background-color:#a80b0b ;
}
.card img{
  width: 100%;
  background-color: rgb(238, 143, 27);
}
#header .btn-get-started:hover{
  background-color: #3498db;
  color: #fff;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  0% {
    translate: translateY(10px);
  }
  100% {
    translate: translateY(-10px);
  }
}
@-webkit-keyframes up-down{
  0% {
    translate: translateY(10px);
  }
  100% {
    translate: translateY(-10px);
  }
}