@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  background-color: rgb(228, 228, 228);
  height: 100%;
  z-index: 0;
}
/* NAVBAR */
.navrow {
  background-color: #2e2c2c !important;
}
.navbar{
  background-color: #2e2c2c !important;
  width: 100%;
 padding-left: 7rem;
 padding-right: 7rem;
}
.navbar-brand{
  font-size: 1.9em !important ;
  color: #a80b0b !important;
  transition: 0.3s;
}
.navbar-brand img{
  width:  90px;
}
.navbar-brand:hover{
  color : #ffffff !important;
  background-color: #ffffff;
 
}
.navbar a{
  font-size: 1.3em;
  text-transform: capitalize;
}
.navbar a:hover{
  color : #a80b0b !important;
}
.menu_active{
  font-weight: bold;
  color : #a80b0b !important;
  border-bottom:1px solid #ffffff;
}

#header {
  width: 100%;
  margin-top:71px ;
 
}
.marginPage{
  margin-top: 20px;
}
.margin-top{
  margin-top: 100px;
}
#header h1{
  font-weight: 700;
  color : #a80b0b ;
  font-size: 38px;
  text-align: center;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color:#484848;
  font-size: 24px;
}

.search-data{
  width: 40%;
  border:none;
  margin-bottom: 10px;
  border-bottom: 2px solid #2e2c2c;
  background-color:  rgb(228, 228, 228);
  text-decoration: none;
  transition: 0.5s;
}
.search-data:focus {
  width: 90%;
  border-bottom: 2px solid #700707;
  border-color: #a80b0b;
  outline: none;
}

#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 50px ;
  border: 2px solid #a80b0b;
  display: inline-block;
  color: #a80b0b;
  transition: 0.5s;
  text-decoration: none;
}
.btn-get-started:hover{
  background-color:#a80b0b !important ;
}
/* Card  */
.card{
  background-color:#2e2c2c ;
  color: #ffffff;
  overflow: hidden; 
  transition: 0.3s;
  width: 180px;
  height: 320px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/* .card-body{
  background-color:#2e2c2c ;
  color: #ffffff;
  
  transition: 0.5s;
} */
.card:hover{
 background: #a80b0b;
}
.card-img{
  overflow: hidden; 
}
.card img{
  width: 100%;
  height: 200px;
  background-color:#a80b0b ; 
  transition: 0.4s;
}
/*  -ms-transform: scale(1.5); /* IE 9 */
  /* -webkit-transform: scale(1.5); Safari 3-8 */
  /* transform: scale(1.1);  */ 
  .card img:hover{
    transform: scale(1.21);
    transform-origin: 50% 50%;
  }
/* .card:hover {
 
  background-color:#a80b0b ;
} */
#header .btn-get-started:hover{
  background-color: #3498db;
  color: #fff;
}

/* Spinner  */
.spinner {
  text-align: center;
  margin-top: 50px;
}

.halfSpin {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 75px;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  border: 5px solid #a80b0b;
  border-bottom: 0;
  transform-origin: bottom center;
  animation: 1s infinite turner;
}

@keyframes turner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Charecter Page */
.show-page{
  
  background: url("https://i2.wp.com/wallur.com/wp-content/uploads/2016/12/marvel-cinematic-background-26.jpg?fit=1920%2C1080");
 
  z-index: 0;
  /* min-height: 100%;
  min-width: 1024px; */
  /* Full height */
 height: 100%;
 min-height: 600px;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
}
.charecter-image{
  text-align: center;
  
}
.page-image{
  border-radius: 10%;
  height :450px;
  width: 320px;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #a80b0b;
}
.page-image:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}
.charecter-detail{
  padding-left: 10px;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #2e2c2c;
  border-radius: 2%;
}
 h3{
  color:#a80b0b;
  font-weight: 600;
  font-size: 1.5rem;
}
.charecter-detail p{
  color: white;
}
.know-more-btn{
  background-color: #a8a8a8 ;
  color: #ffffff;
}

#header ul{
  list-style-type: none;
  padding-left: 10px;
}
hr{
  margin : 5px auto;
  border-top: 1px solid rgba(168, 11, 11,0.5);
}
.set-row{
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  min-height: 600px;
}
/* Favourite Button */
.fav-btn{
  text-decoration: none;
  color:#a80b0b;
  border: 1px solid #a80b0b;
  padding: 2px 5px;
}
.fav-btn:hover{
  color: #ffffff;
  background-color:#a80b0b ;
}
/* Form */

.form-style{
  width: 30%;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  border:1px solid #a80b0b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  border-radius: 10%;
}
/* Comic page */
h4 {
  color:#a80b0b;
 
}
.home-show-page{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/180/976/853/thor-2-the-dark-world-avengers-age-of-ultron-the-avengers-spider-man-wallpaper-preview.jpg");
 
  z-index: 0;
  
  
 /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

/* PAGINATION */

.pagination{
   justify-content: center;
   margin-top: 10px;
}
.pagination .active a {
  background-color: #a80b0b;
  color: white;
  border: 1px solid #4CAF50;
}


.pagination li a{
  color: #fff;
  float: left;
  padding: 8px 16px;
  background:#2e2c2c ;
  text-decoration: none;
  transition: background-color .3s;
 
  margin: 0 4px;
}

.pagination li a:hover:not(.active) {background-color: #a80b0b;}

/* Home componet */
.btn-more{
  width: 200px;
}
/* Drop down */
#dropdownMenuButton{
  color: #fff;
  
  background: hsl(0, 2%, 18%);
  box-shadow: none;
}

.dropdown-menu{
  background: #2e2c2c ;
}

.dropdown-item:hover{
  background: #a80b0b;
  color: #fff;
}
.dropdown-item{
  color: #fff;
}
/* Log in */
/* .btn-auth{
  text-decoration: none;
  color:#a80b0b;
  border: 1px solid #a80b0b;
}
.btn-auth:hover{
  color: #ffffff;
  background-color:#a80b0b ;
} */
.auth p{
  color: #a80b0b;;
}
.auth a{
  color: #a80b0b;;
}
a{
  outline: none;
}
.fav-p p{
  font-weight: 600;
  color: #2e2c2c;
}

/* Swal style */
/* .swal-overlay {
  background-color: rgba(151, 143, 143, 0.45);
} */

.swal-title {
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 22px;
  font-weight: 400;
  color: #251313;
}
.swal-text {
  display: block;
  margin: 15px;
  font-weight: 400;
  text-align: center;
  color: #970000;
}
/* .swal-modal {
  background-color: rgba(227, 235, 229, 0.69);
  border: 3px solid white;
} */